

<div class="desktop-topBar-container">
    <img class="mainLogo" src="assets/img/capa1.png" alt="">
    <span>Kanban Project Management Tool</span>
    <div class="image-container-top-bar">
        <a href="help.html"><img class="desktop-topBar-helpPicture" src="assets/img/help.png"></a>
        <img class="desktop-topBar-profilPicture" id="desktop_topBar_profilPicture" src="assets/img/stockProfileImg1.png" alt="" onclick="showLogOut()">
        <div class="logout-container" id="logoutContainer" onmouseover="showLogOut()">
            <p onclick="logout()" class="logout-text">Logout</p>
            <p onclick="routeToPage('legal.html')" id="legalLink-topbar" class="logout-text">Legal info</p>
            <p onclick="routeToPage('help.html')" id="helpLink-topbar" class="logout-text">Help</p>
        </div>
    </div>
    </div>
</div>