<div class="contactPopUp-join-container">
    <div class="contactPopUp-join-container-inner">
        <img src="././assets/img/mainLogo_desktop.png" alt="img">
        <h1>Add contact</h1>
        <span>Tasks are better with a team!</span>
        <hr>
    </div>
</div>
<div class="contactPopUp-form-container">
    <div class="contactPopUp-form-headline" onclick="hideAddContact()"><img src="././assets/img/cross.png" alt=""></div>
    <div class="contactPopUp-form-body">
        <div class="contactPopUp-form-body-img">
            <div class="contactPopUp-form-body-img-picture">
                <span class="contacts-overview-contact-picture">
                    VM
                </span>
            </div>
        </div>
        <div class="contactPopUp-form-body-formular">
            <form onsubmit="addContact(); return false;">
                <input required min="2" maxlength="25" type="text" placeholder="Preame" id="add_prename_input">
                <input required min="2" maxlength="25" type="text" placeholder="Name" id="add_name_input">
                <input required min="5" maxlength="30" type="email" placeholder="Email" id="add_email_input">
                <input pattern="[+]{1}[0-9]{11,14}" required min="6" maxlength="25" type="phone" placeholder="Tel" id="add_phone_input">
                <div>
                    <input type="button" value="Cancel" id="cancelButton" class="cancelButton">
                    <input type="submit" value="Create contact" id="submitButtonAddContact" class="submitButton">
                </div>
            </form>
            <div style="height: 60px"></div>
        </div>
    </div>
   
</div>